<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<h2>Add Project</h2>
<form th:action="@{/add}" th:object="${project}" method="post" enctype="multipart/form-data">
    <label>Name: <input class="form-control" type="text" th:field="*{name}" /></label><br/>
    <label>Type: <select class="custom-select" id="type" name="type" required>
        <option th:each="projectType : ${projectTypes}" th:value="${projectType}" th:text="${projectType}"></option>
    </select><br></label><br/>
    <label>GitHub: <input class="form-control" type="text" th:field="*{gitHub}" /></label><br/>
    <label>Test Link: <input class="form-control"  type="text" th:field="*{testLink}" /></label><br/>
    <label>Description: <textarea class="form-control" id="description" name="description" rows="4" cols="50"></textarea><br>
    </label><br/>
    <label>Image: <input class="custom-file-label" type="file" name="image" /></label><br/>

    <label>Other: <input class="custom-file-label" type="file" name="images" multiple/></label><br/>
    <input type="submit" class="btn btn-primary" value="Add"/>
</form>
<a href="/" class="btn btn-danger" >Back to List</a>
</body>
</html>
